{% extends 'base.html' %}

{% block content %}

<div class="col-xs-6 col-md-offset-3 transparency2">

    <div class="panel panel-default">
        <div class="panel-body" align="center">
            <h1 class="text-success">
                <i class="glyphicon glyphicon-thumbs-up"></i>
            </h1>
            <h3 class="text-primary">
                Conta criada com sucesso.
                Aguarde ativação da sua conta.
            </h3>
        </div>

        <div class="panel-footer textCenter">
            <a href="{% url 'login_index' %}" class="btn btn-success">Acessar o sistema</a>
        </div>

    </div>

</div>

{% endblock %}