{% extends 'base.html' %}

{% block content %}

{% if form_caption == 'Alterar Perfil' %}
<div class="col-xs-12 row transparency2">
    <div class="btn-group btn-breadcrumb transparency">
        <a href="{% url 'login_index' %}" class="btn btn-primary" title="Ir para Login"><i class="icon-switch"></i></a>
        <a href="{% url 'menu_index' %}" class="btn btn-primary" title="Ir para Menu Principal"><i class="glyphicon glyphicon-home"></i></a>
        <a href="#" class="btn btn-primary">{{ form_caption }}</a>
    </div>
</div>
{% elif form_caption == 'Criar Conta' %}

    <div class="col-xs-12 row transparency2">
    <div class="btn-group btn-breadcrumb transparency2">
        <a href="{% url 'login_index' %}" class="btn btn-primary"><i class="icon-switch"></i></a>
        <a href="#" class="btn btn-primary">Criar Conta</a>
    </div>
</div>
{% endif %}

<div class="col-xs-6 col-md-offset-3" xmlns="http://www.w3.org/1999/html">

    <div class="panel panel-default transparency2">

        <!--
        {% if form_caption == 'Criar Conta' %}
        <div class="panel-heading" style="background-color: #2e6da4; color: #fff; font-size: 16px;">
            {{ form_caption }}
        </div>
        {% endif %}
        -->

        <form action='{{ form_action }}' method='POST' >
            {% csrf_token %}

            <div class="panel-body" align="left">

                <div class="row col-xs-12">
                    {% include "form_messages.html" %}
                </div>

                <div class="row">
                    <div class="form-group col-xs-12">
                        <label for='id_tipo'>{{ form.tipo.label }}</label>
                        {{ form.tipo }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-6">
                        <label for='id_primeiro_nome'>{{ form.primeiro_nome.label }}</label>
                        <input id='id_primeiro_nome' name='primeiro_nome' value='{{ form.primeiro_nome.value }}' type='text' class='form-control' autocomplete="off" autofocus />
                    </div>
                    <div class="form-group col-xs-6">
                        <label for='id_ultimo_nome'>{{ form.ultimo_nome.label }}</label>
                        <input id='id_ultimo_nome' name='ultimo_nome' value='{{ form.ultimo_nome.value }}' type='text' class='form-control' autocomplete="off" autofocus />
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-6">
                        <label for='id_email'>{{ form.email.label }}</label>
                        <input id='id_email' name='email' value='{{ form.email.value }}' type='text' class='form-control' autocomplete="off"/>
                    </div>
                    <div class="form-group col-xs-6">
                        <label for='id_email'>Nome de Usuário</label>
                        <input id='id_nome_usuario' name='nome_usuario' value='{{ form.nome_usuario.value }}' type='text' class='form-control' autocomplete="off"/>
                    </div>
                </div>

                <div class="row">
                {% if form_caption == 'Criar Conta' %}
                    <div class="form-group col-xs-6">
                        <label for='id_senha'>{{ form.senha.label }}</label>
                        <input id='id_senha' name='senha' value='{{ form.senha.value }}' type='password' maxlength="15" class='form-control' autocomplete="off"/>
                    </div>

                    <div class="form-group col-xs-6">
                        <label for='id_conf_senha'>{{ form.conf_senha.label }}</label>
                        <input id='id_conf_senha' name='conf_senha' value='{{ form.conf_senha.value }}' type='password' maxlength="15" class='form-control' autocomplete="off"/>
                    </div>
                {% endif %}
                </div>

                <div class="row">
                    <div class="form-group col-xs-6">
                        <label for='id_fone'>{{ form.fone.label }}</label>
                        <input id='id_fone' name='fone' value='{{ form.fone.value }}' type='text' class='form-control mask-phone_ddd' autocomplete="off" />
                    </div>

                    <div class="form-group col-xs-6">
                        <label for='id_fone'>{{ form.categoria.label }}</label>
                        {{ form.categoria }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12">
                        <label for='id_servico'>{{ form.servico.label }}</label>
                        <textarea id='id_servico' name='servico' maxlength="256" wrap="soft" rows="4" class='form-control'>{{form.servico.value}}</textarea>
                    </div>
                </div>
            </div>

            <div class="panel-footer textCenter">
                <input type='submit' value='Salvar' id='btn_salvar' class="btn btn-success" />
            </div>
        </form>

    </div>

</div>

{% endblock %}