{% extends 'base.html' %}

{% block content %}

<div class="col-xs-6 col-md-offset-3">

    <div class="panel panel-default">
        <div class="panel-body" align="center">
            <h1 class="text-success">
                <i class="glyphicon glyphicon-thumbs-up"></i>
            </h1>
            <h3 class="text-primary">
                Avaliação gravada com sucesso!
            </h3>
        </div>

        <div class="panel-footer textCenter">
            <a href="{% url 'menu_index' %}" class="btn btn-success">Voltar ao menu</a>
        </div>

    </div>

</div>

{% endblock %}