{% extends 'base.html' %}

{% block content %}

<div class="col-xs-12 row transparency2">
    <div class="btn-group btn-breadcrumb transparency2">
        <a href="{% url 'login_index' %}" class="btn btn-primary" title="Ir para Login"><i class="icon-switch"></i></a>
        <a href="{% url 'menu_index' %}" class="btn btn-primary" title="Ir para Menu Principal"><i class="glyphicon glyphicon-home"></i></a>
        <a href="#" class="btn btn-primary">Avaliação</a>
    </div>
</div>
<div style="height: 60px;"></div>


<div class="col-xs-6 col-md-offset-3 transparency2">

    <div class="panel panel-default">

        <form action='.' method='POST'>
            {% csrf_token %}

            <input id='id_data' name='data' value='{{ form.data.value }}' type=text' hidden/>
            <input id='id_hora' name='hora' value='{{ form.hora.value }}' type=text' hidden />
            <input id='id_avaliador' name='avaliador' value='{{ form.avaliador.value }}' type=text' hidden />

            <div class="panel-body" align="left">

                <div class="row">
                    <div class="form-group col-xs-3">
                        <label for='id_profissional'>Profissional</label>
                    </div>
                    <div class="form-group col-xs-9">
                        {{ form.profissional }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-3">
                        <label for="exampleInputEmail1">Atendimento</label>
                    </div>
                    <div class="form-group col-xs-3">
                        <select id="id_nota_atendimento" name="nota_atendimento" class='form-control'>
                            <option value="1" >1</option>
                            <option value="2" >2</option>
                            <option value="3" >3</option>
                            <option value="4" >4</option>
                            <option value="5" >5</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-3">
                        <label for="exampleInputEmail1">Qualidade</label>
                    </div>
                    <div class="form-group col-xs-3">
                        <select id="id_nota_qualidade" name="nota_qualidade" class='form-control'>
                            <option value="1" >1</option>
                            <option value="2" >2</option>
                            <option value="3" >3</option>
                            <option value="4" >4</option>
                            <option value="5" >5</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-3">
                        <label for="exampleInputEmail1">Pontualidade</label>
                    </div>
                    <div class="form-group col-xs-3">
                        <select id="id_nota_pontualidade" name="nota_pontualidade" class='form-control'>
                            <option value="1" >1</option>
                            <option value="2" >2</option>
                            <option value="3" >3</option>
                            <option value="4" >4</option>
                            <option value="5" >5</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-3">
                        <label for="exampleInputEmail1">Preço</label>
                    </div>
                    <div class="form-group col-xs-3">
                        <select id="id_nota_preco" name="nota_preco" class='form-control'>
                            <option value="1" >1</option>
                            <option value="2" >2</option>
                            <option value="3" >3</option>
                            <option value="4" >4</option>
                            <option value="5" >5</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-3">
                        <label for="exampleInputEmail1">Recomendação</label>
                    </div>
                    <div class="form-group col-xs-3">
                        <select id="id_nota_recomendacao" name="nota_recomendacao" class='form-control'>
                            <option value="1" >1</option>
                            <option value="2" >2</option>
                            <option value="3" >3</option>
                            <option value="4" >4</option>
                            <option value="5" >5</option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="panel-footer textCenter">
                <input type='submit' value='Avaliar' id='btn_salvar' class="btn btn-success" />
            </div>

        </form>

    </div>
</div>

{% endblock %}