{% extends 'base.html' %}

{% block content %}

<div class="col-xs-12 row transparency2">
    <div class="btn-group btn-breadcrumb transparency2">
        <a href="{% url 'login_index' %}" class="btn btn-primary" title="Ir para Login"><i class="icon-switch"></i></a>
        <a href="{% url 'menu_index' %}" class="btn btn-primary" title="Ir para Menu Principal"><i class="glyphicon glyphicon-home"></i></a>
        <a href="#" class="btn btn-primary">Pesquisa</a>
    </div>
</div>

<div style="height: 60px;"></div>

<div class="col-xs-4 col-md-offset-4" align="center">

    <ul class="list text-left transparency">
        <li>
            <a href="/pesquisa/categoria/0/" class="menu-text">
                <span class="el el-lines menu-icon"></span>&nbsp;&nbsp;Por Categoria
            </a>
        </li>
        <li>
            <a href="{% url 'pesquisa_nome_servico' %}" class="menu-text">
                <span class="el el-fontsize menu-icon"></span>&nbsp;&nbsp;Por Nome/Serviço/Produto
            </a>
        </li>
    </ul>

</div>

{% endblock %}