{% extends 'base.html' %}

{% block content %}

<div class="col-xs-12 row transparency2">
    <div class="btn-group btn-breadcrumb transparency2">
        <a href="{% url 'login_index' %}" class="btn btn-primary" title="Ir para Login"><i class="icon-switch"></i></a>
        <a href="{% url 'menu_index' %}" class="btn btn-primary" title="Ir para Menu Principal"><i class="glyphicon glyphicon-home"></i></a>
        <a href="{% url 'pesquisa_index' %}" class="btn btn-primary">Pesquisa</a>
        <a href="#" class="btn btn-primary">Por Categoria</a>
    </div>
</div>

<div style="height: 60px;"></div>

<div class="col-xs-5 col-md-offset-3" align="center">
    <form action='.' method='GET'>
        {% csrf_token %}

        <ul class="list text-left transparency">
            {% for data in data_list %}
            <li>
                <a href="/pesquisa/categoria/{{ data.id }}/" class="menu-text">
                    <span class="menu-icon {{ data.icone }}" style="background: #{{ data.cor_icone }}!important;"></span>&nbsp;&nbsp;{{ data.nome }}
                </a>
            </li>
            {% endfor %}
        </ul>

    </form>
</div>

{% endblock %}