{% extends 'base.html' %}

{% block content %}

<!--
<ol class="breadcrumb">
    <li><a href="{% url 'login_index' %}" class="icon-switch"></a></li>
    <li><a href="{% url 'menu_index' %}" class="icon-home2"></a></li>
    <li><a href="{% url 'pesquisa_index' %}">Pesquisa</a></li>
    <li class="active">Por Nome/Serviço/Produto</li>
</ol>
-->
<div class="col-xs-12 row transparency2">
    <div class="btn-group btn-breadcrumb transparency2">
        <a href="{% url 'login_index' %}" class="btn btn-primary" title="Ir para Login"><i class="icon-switch"></i></a>
        <a href="{% url 'menu_index' %}" class="btn btn-primary" title="Ir para Menu Principal"><i class="glyphicon glyphicon-home"></i></a>
        <a href="{% url 'pesquisa_index' %}" class="btn btn-primary">Pesquisa</a>
        <a href="#" class="btn btn-primary">Por Nome/Serviço/Produto</a>
    </div>
</div>
<div style="height: 60px;"></div>

<div class="panel panel-default transparency2">

    <div class="panel-body" align="left">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">

                    <form action='.' method='GET'>
                        {% csrf_token %}

                        <div class="box-header col-xs-12" style="background: #fff !important; border-bottom: #fff !important; padding: 15px;" >
                            <div class="input-group col-xs-6" align='rigth'>
                                <!--
                                <div class="input-group-btn" style="width: 160px;">
                                    <div class="select-style">
                                        <select id="id_search_field" name="searchField">
                                            <option value="nome" {% if search_field == "nome" %}selected="selected"{% endif %}>Nome</option>
                                            <option value="serv_prod" {% if search_field == "serv_prod" %}selected="selected"{% endif %}>Serviço/Produto</option>
                                        </select>
                                    </div>
                                </div>
                                -->
                                <input name="q" value="{{ search_value }}" type="text" class="form-control" placeholder="Informe nome/serviço/produto" autofocus>
                                <span class="input-group-btn">
                                    <button id='btn_pesquisar' type="submit" class="btn btn-info fa fa-search" />
                                </span>
                            </div>
                        </div>

                        <div class="box-body">
                            <div class="form-group col-xs-12">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr style="font-weight: bolder;">
                                            <td style="width:25%">Nome</td>
                                            <td style="width:15%">Fone</td>
                                            <td style="width:20%">Email</td>
    {#                                        <td style="width:10%">Categoria</td>#}
                                            <td style="width:20%">Serviço/Produto</td>
                                            <td style="width:10%">Avaliação</td>
                                        </tr>
                                    </thead>
                                    <tbody style="background-color: #fff;">
                                        {% for data in data_list %}
                                        <tr>
                                            <td>{{ data.first_name }} {{ data.last_name }}</td>
                                            <td>{{ data.fone|default_if_none:"" }}</td>
                                            <td>{{ data.email|default_if_none:"" }}</td>
    {#                                        <td>{{ data.cat_nome|default_if_none:"" }}</td>#}
                                            <td style="word-wrap: break-word">{{ data.servico|default_if_none:"" }}</td>
                                            <td>
                                                {% if data.avaliacao == 1 %}
                                                    {% include "1_star.html" %}
                                                {% elif data.avaliacao == 2 %}
                                                    {% include "2_star.html" %}
                                                {% elif data.avaliacao == 3 %}
                                                    {% include "3_star.html" %}
                                                {% elif data.avaliacao == 4 %}
                                                    {% include "4_star.html" %}
                                                {% elif data.avaliacao == 5 %}
                                                    {% include "5_star.html" %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                                {% include "paginator.html" %}
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>

{% endblock %}