{% extends 'base.html' %}

{% block content %}

<div class="col-xs-12 row transparency2">
    <div class="btn-group btn-breadcrumb transparency2">
        <a href="{% url 'login_index' %}" class="btn btn-primary" title="Ir para Login"><i class="icon-switch"></i></a>
        <a href="{% url 'menu_index' %}" class="btn btn-primary" title="Ir para Menu Principal"><i class="glyphicon glyphicon-home"></i></a>
        <a href="{% url 'pesquisa_index' %}" class="btn btn-primary">Pesquisa</a>
        <a href="/pesquisa/categoria/0/" class="btn btn-primary">Por Categoria</a>
        <a href="#" class="btn btn-primary">Profissionais</a>
    </div>
</div>
<div style="height: 60px;"></div>

<div class="panel panel-default transparency2">

    <div class="panel-body" align="left">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">

                    <div class="box-body">
                        <div class="form-group col-xs-12">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr style="font-weight: bolder;">
                                        <td style="width:25%">Nome</td>
                                        <td style="width:15%">Fone</td>
                                        <td style="width:20%">Email</td>
{#                                        <td style="width:10%">Categoria</td>#}
                                        <td style="width:20%">Serviço/Produto</td>
                                        <td style="width:10%">Avaliação</td>
                                    </tr>
                                </thead>
                                <tbody style="background-color: #fff;">
                                    {% for data in data_list %}
                                    <tr>
                                        <td>{{ data.first_name }} {{ data.last_name }}</td>
                                        <td>{{ data.fone|default_if_none:"" }}</td>
                                        <td>{{ data.email|default_if_none:"" }}</td>
{#                                        <td>{{ data.cat_nome|default_if_none:"" }}</td>#}
                                        <td style="word-wrap: break-word">{{ data.servico|default_if_none:"" }}</td>
                                        <td>
                                            {% if data.avaliacao == 1 %}
                                                {% include "1_star.html" %}
                                            {% elif data.avaliacao == 2 %}
                                                {% include "2_star.html" %}
                                            {% elif data.avaliacao == 3 %}
                                                {% include "3_star.html" %}
                                            {% elif data.avaliacao == 4 %}
                                                {% include "4_star.html" %}
                                            {% elif data.avaliacao == 5 %}
                                                {% include "5_star.html" %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            {% include "paginator.html" %}
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

{% endblock %}