
body, html {
    height: 100%;
    /*
    background-repeat: no-repeat;
    _background-image: linear-gradient(#0f5eb5, #0f5eb5);
    background-image: linear-gradient(#293134, #293134);
    background-image: linear-gradient(#193048, #193048);
    _background-image: linear-gradient(#fafafb, #fafafb);
    */
}

body, html {
    _background-color: rgb(0,0,0) !important;
    background-image: url('../img/wall-1.jpg');
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
}

.transparency {
    opacity: 0.70 !important;
    -moz-opacity: 0.70 !important;
    filter: alpha(opacity=70) !important;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}

.form-signin .checkbox
{
    font-weight: normal;
}

.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus
{
    z-index: 2;
}

.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.account-wall
{
    margin-top: 25%;
    padding: 20px 0px 20px 0px;
    background-color: #e6e6e6 !important;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.profile-img
{
    _width: 96px;
    _height: 96px;
    margin: 0 auto 0px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.need-help
{
    margin-top: 10px;
}

.new-account
{
    display: block;
    margin-top: 10px;
}