@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto);

@font-face {
	font-family: "fa";
	src: url("#{resource['fonts/fontawesome-webfont.eot']}");
	src: url("#{resource['fonts/fontawesome-webfont.eot']}#iefix")
		format("embedded-opentype"),
		url("#{resource['fonts/fontawesome-webfont.woff']}") format("woff"),
		url("#{resource['fonts/fontawesome-webfont.ttf']}") format("truetype"),
		url("#{resource['fonts/fontawesome-webfont.svg']}#fa") format("svg");
	font-weight: normal;
	font-style: normal;
}

body {
    _background: #f5f5f5 !important;
    background-image: url('../img/wall-1.jpg');
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
}

/* FONT STACK */
body, input, select, textarea {
	font-family: Roboto, "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 15px !important;
	border-radius: 4px;
}

.required-indicator {
	color: #15c550;
	display: inline-block;
	font-weight: bold;
	font-size: 16px;
	margin-left: 0.3em;
	position: relative;
	top: 0.1em;
}

.field-required {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.main-header .logo {
	padding: 1px 5px;
}

h10 {
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 24px;
	color: #aaa;
}

.callout.callout-warning {
	background-color: #fff !important;
	border-color: #e8ad5c !important;
	color: #333 !important;
}

.btn {
	height: 35px !important;
	font-size: 16px !important;
}

.errorlist {
	color: #a94442 !important;
	_background-color: #f2dede;
	_border-color: #ebccd1;
	
}

.right {
    float: right !important;
}

.box.box-primary {
    border-top-color: #f0ad4e !important;
}

label {
	font-weight: 100 !important;
	color: #777 !important;
}

thead {
	font-weight: 400 !important;
	color: #294b6b !important;
	border-bottom: 2px solid #888888 !important;
}

.main-footer {
    background: #fff !important;
    padding: 5px !important;
    color: #444 !important;
    border-top: 1px solid #d2d6de !important;
}

.box-header {
	text-align: left !important;
	background: #f9f9f9 !important;
	border-bottom: 1px solid #f4f4f4 !important;
}

.select {
  display: block !important;
  width: 100% !important;
  height: 33px !important;
  padding: 6px 12px !important;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  color: #555 !important;
  background-color: #fff !important;
  background-image: none !important;
  border: 1px solid #ccc !important;
}

.disabled {
   pointer-events: none;
   cursor: default;
}

.input.remember_me {
	padding-left: 20px !important;
}

.ajax-progress {
	position: absolute;
	top: 50%;
	left: 50%;
	visibility: hidden;
}

.textLeft {
	text-align: left;
}

.textCenter {
	text-align: center;
}

.textRight {
	text-align: right;
}

/* SELECT CUSTOM STYLE */
.select-style {
    padding: 0;
    margin: 0;
    *color: #fff;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 0px solid #ccc;
    width: 100%;
    height: 34px !important;
    border-radius: 0px;
    overflow: hidden;
    background-color: #f9f9f9;
    background: #f9f9f9 url("../img/arrowdown.gif") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}

.delete-button {
	width: 24px !important;
	height: 24px !important;
	padding: 1px 2px 1px 2px !important;
}

.radioPanel {
	border: solid #ecf0f5 1px;
	margin: 10px;
	border-radius: 4px;
}

/* MODAl */
.modal-open .modal {
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow-y: scroll;
}

.modal-header {
    color: #fff !important;
    background-color: #5bc0de !important;
    font-size: 18px !important;
}

.ui-autocomplete {
    z-index: 5000 !important;
}

.title-list {
    padding: 5px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #285e8e;
}

.moldura-list {
    padding: 15px;
    border: 2px #ecf0f5 solid;
    border-radius: 10px;
}

.breadcrumb {
    font-size: 16px !important;
    background-color: #fff; /* f5f5f5 MARCOS */
    border-radius: 4px;
    border: solid 1px #f5f5f5;

}

.btn-primary-bc {
    background-color: #357ebd !important;
}

label {
    font-weight: bolder !important;
    color: #285e8e !important;
}

.menu-icon {
    font-size:40px !important;
    color: #FFF !important;
    border-radius: 50px !important;
    height: 70px !important;
    width: 70px !important;
    text-align: center !important;
    padding-top: 15px;
}

.transparency {
    opacity: 0.70 !important;
    -moz-opacity: 0.70 !important;
    filter: alpha(opacity=70) !important;
}

.transparency2 {
    opacity: 0.80 !important;
    -moz-opacity: 0.80 !important;
    filter: alpha(opacity=80) !important;
}

.menu-icon {
    font-size:20px !important;
    color: #FFF !important;
    background-color: #357ebd !important;
    border-radius: 20px !important;
    height: 35px !important;
    width: 35px !important;
    text-align: center !important;
    padding-top: 7px;
}

.menu-text {
    font-size: 18px !important;
    font-weight: normal;
    color: #285e8e !important;
}

/* LIST */
.list {
    background: inherit;
    color: inherit;
    border-color: #303030;
    font-weight: normal;
}

.list .divider {
    color: black;
}

.list > li > a:after {
    color: #0088D1;
}

.list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    background-color: #fff;
    margin: 0 -10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.list li {
    display: block;
    list-style: none;
    position: relative;
    padding: 20px 20px 20px 10px;
    border-bottom: 1px solid #ccc;
    background: inherit;
}

.list li:first-child {
    /*   border-top: 1px solid #ccc;*/
}

.list > li > a {
    position: relative;
    display: block;
    color: inherit;
    margin: -20px -20px -20px -10px;
    text-decoration: none;
    padding: 20px 20px 20px 10px;
}

.list > li > a:after,
.list > li .chevron:after {
    position: absolute;
    right: 8px;
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\f054";
    top: 50%;
    margin-top: -0.5em;
    color: inherit;
}

.list a .af-badge {
    position: absolute;
    right: 30px;
    top: 48%;
    margin-top: -10px;
}

.list .divider {
    position: relative;
    top: -1px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    background-color: #dfe0e2;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4);
    padding-right: 60px;
}

.list.inset {
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 10px;
}

.list.inset li:first-child {
    border-top: none;
    margin-top: 3px;
}

.list.inset li:last-child {
    border-bottom: none;
    margin-bottom: 3px;
}


