{% load staticfiles %}

<!DOCTYPE html>
<html>

	<head>        
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<link rel="shortcut icon" href="{% static 'img/favicon.ico'%}" type="image/x-icon">
		<!-- Tell the browser to be responsive to screen width -->
		<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

		<title>Crer é Empreender</title>
		
		<link rel='stylesheet' href='{% static 'css/bootstrap.css' %}'>
        <link rel='stylesheet' href='{% static 'css/font-awesome.css' %}'>
        <link rel='stylesheet' href='{% static 'css/login.css' %}'>
		<link rel='stylesheet' href='{% static 'css/font-awesome.min.css' %}'>
		<link rel='stylesheet' href='{% static 'css/icomoon.css' %}'>
	</head>
	
	<body>

        <div class="container" style="margin-top: 20px;">
            <div class="row_">
                <div class="col-md-4 col-md-offset-4">
                    <!-- <h1 class="text-center login-title"></h1> -->

                    <div class="account-wall transparency">
                        {# LOGO #}
                        <img class="profile-img" src='{% static 'img/logo_150_170.png' %}' alt="" />

                        <form action='.' method='POST' class="form-horizontal" >
                            {% csrf_token %}

                            <div style="padding-left: 20px; padding-right: 20px; padding-bottom: 30px;">

                                {% include "form_messages.html" %}
                                <div class="form-group-lg">
                                    <div class="input-group">
                                        <span class="input-group-addon icon-user" id="basic-addon1"></span>
                                        <input type='text' id='id_username' name='username' value='{{ form.instance.username }}' class='form-control' aria-describedby="basic-addon1" placeholder='Usuário' required autofocus>
                                    </div>
                                </div>

                                <div class="form-group-lg">
                                    <div class="input-group">
                                        <span class="input-group-addon icon-key" id="basic-addon2"></span>
                                        <input type='password' id='id_password' name='password'  value='{{ form.instance.password }}' class='form-control' aria-describedby="basic-addon2" placeholder='Senha' required>
                                    </div>
                                </div>
                                <br>

                                <div class="form-group-lg">
                                    <button type='submit' class='btn btn-lg btn-success btn-block' >Entrar</button>
                                </div>

                                <hr>

                                <div class="form-group-lg"">
                                    <a href="{% url 'usuario_novo' %}" class="btn btn-info col-xs-12">Criar uma conta</a>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </body>
</html>