{% load staticfiles %}

<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="{% static 'img/favicon.ico'%}" type="image/x-icon">
		<title>Crer é Empreender{% block title %}{% endblock %}</title>
	
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/breadcrumbs.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
		<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
        <link rel="stylesheet" href="{% static 'css/ionicons.css' %}">
        <link rel="stylesheet" href="{% static 'css/elusive-icons.css' %}">

        <!-- Extra Header -->
		{% block extrahead %}
		{% endblock %}
	</head>
	
	<body class="col-md-12">

        <nav class="navbar navbar-inverse navbar-fixed-top transparency2" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header col-xs-12" align="center">
                    <a href="{% url 'menu_index' %}">
                        <img src='{% static 'img/icon96x96.png' %}' alt="" style="padding-top: 2px; padding-bottom: 2px;" />
                    </a>
                </div>
            </div>
        </nav>

        <div style="height: 110px;">
        </div>

        <div class="col-md-12 col-md-offset-1">

            <div class="col-md-10">

                <div class="row">
                    {% block content %}
                    {% endblock %}
                </div>

            </div>

        </div>

        {# Libs Javascript #}
        <script type="text/javascript" src="{% static 'js/jquery-2.1.4.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.mask.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootbox.js' %}"></script>

        <!-- Máscaras de formatção de campos -->
        {% include "js_mask.html" %}

        <!-- Extra Footer -->
		{% block extrafooter %}
		{% endblock %}

	</body>

</html>