{% if form.non_field_errors %}

    <div class='alert alert-success alert-dismissible' role='alert'>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {% for error in form.non_field_errors %}
        {{ error|escape }}
    {% endfor %}
    </div>

{% else %}

    {% if form.errors %}
        <div class='alert alert-danger alert-dismissible' role='alert'>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {% for field in form %}
            {% if field.errors %}
            <li>{{ field.label|title }} ⇐ {{ field.errors|striptags }}</li>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}

{% endif %}