{% if data_list.paginator.num_pages > 1 %}
    <div class="pagination col-xs-12" align="center">
        <span class="step-links">
            {% if data_list.has_previous %}
                <a href="?page={{ data_list.previous_page_number }}&q={{ search_value }}&searchField={{ search_field }}" class="btn btn-default fa fa-chevron-left"></a>
            {% else %}
                <a href="#" class="disabled btn btn-default fa fa-chevron-left"></a>
            {% endif %}

            <span class="btn btn-default disabled">
                {{ data_list.number }} de {{ data_list.paginator.num_pages|safe }}
            </span>

            {% if data_list.has_next %}
                <a href="?page={{ data_list.next_page_number }}&q={{ search_value }}&searchField={{ search_field }}" class="btn btn-default fa fa-chevron-right"></a>
            {% else %}
                <a href="#" class="disabled btn btn-default fa fa-chevron-right"></a>
            {% endif %}
        </span>
    </div>
{% endif %}