{% extends 'base.html' %}

{% block content %}

<div class="col-xs-12 row transparency2">
    <div class="btn-group btn-breadcrumb transparency2">
        <a href="{% url 'login_index' %}" class="btn btn-primary" title="Ir para Login"><i class="icon-switch"></i></a>
        <a href="#" class="btn btn-primary" title="Ir para Menu Principal"><i class="glyphicon glyphicon-home"></i></a>
    </div>
</div>

<div style="height: 60px;"></div>

<div class="col-xs-4 col-md-offset-4" align="center">

    <ul class="list text-left transparency">
        <li>
            <a href="{% url 'pesquisa_index' %}" class="menu-text">
                <span class="fa fa-search menu-icon"></span>&nbsp;&nbsp;Pesquisar
            </a>
        </li>
        <li>
            <a href="{% url 'avaliacao_novo' %}" class="menu-text">
                <span class="fa fa-check-square-o menu-icon"></span>&nbsp;&nbsp;Avaliação
            </a>
        </li>
        <li>
            <a href="/usuario/{{ user.id }}" class="menu-text">
                <span class="fa fa-search menu-icon"></span>&nbsp;&nbsp;Alterar Perfil
            </a>
        </li>
    </ul>

</div>

{% endblock %}